.about {
    @include flex(center, center, row, nowrap);
    background-color: $floral-white;

    &__inner {
        overflow-x: hidden;
    }

    &__text {
        max-width: 700px;
    }

    &__title {
        margin-bottom: 100px;
    }

    &__subtitle {
        line-height: 45px;
    }

    &__inner {
        @include flex(space-between, center, row, nowrap);
        padding-top: 300px;
        padding-bottom: 300px;
    }

    &__block-img {
        @include size (400px, 400px);
        @include padding-hack(29.3%, cover);
        &:hover>.about__img {
            box-shadow: 20px 20px 0px $flame;
            transform: translate(-5px, -5px);
        }
    }

    &__img {
        box-shadow: 10px 10px 0px $flame;
        transition-property: box-shadow, transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }

}