.header.header__scroll {
    @include flex(center, center, row, nowrap);
    position: -webkit-sticky;
}

.header {
    @include flex(center, center, row, nowrap);
    background-color: $floral-white;
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 50;
    padding: 0;


    &__inner {
        @include flex(space-between, center, row, nowrap);
    }

    &__logo {
        position: relative;
    }

    &__items {
        @include flex(center, center, row, nowrap);
        align-items: flex-end;
    }

    &__item {
        position: relative;
        top: 4px;
        padding-bottom: 3px;
        border-bottom: 3px solid transparent;
        transition-property: border-color;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        &:not(last-of-type){
            margin-right: 40px;
        }
        &:hover {
            border-color: $flame;
        }
    }

    &__item-a {
        @include text($h18, bold, $eerie-black, $f-montserrat);
    }
    &__tel{
        position: relative;
        top: 4px;
    }
    &__tel-a {
        @include text($h18, 400, $eerie-black, $f-montserrat);

        position: relative;
        top: -4px;
    }
}