.offer {
    @include size(100%, 100vh);
    position: relative;
    background-image: url(./../assets/images/bg-image.png);
    background-position: center center;
    background-size: cover;

    &:after {
        content: '';
        @include position();
        position: absolute;
        background-color: rgb(0, 0, 0, .6);
        z-index: 1;
    }

    &__inner {
        @include flex(center, center, column, nowrap);
        height: 100%;
        z-index: 2;
        position: relative;
    }

    &__title {
        @include text($h170, 500, $white, $f-montserrat);
    }

    &__subtitle {
        position: relative;
        top: -40px;
    }

    &__subtitle-text {
        @include text($h60, 200, $white, $f-montserrat);
        @include flex(flex-end, center, row, nowrap);

        &:before {
            @include size(190px, 5px);
            content: '';
            position: relative;
            top: 4px;
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            height: 5px;
            background: $flame;
            margin-right: 15px;
        }
    }
}