.social {
    &__items {
        @include flex(center, center, row, nowrap);
    }

    &__round {
        @include size(60px, 60px, true);
        @include flex(center, center, row, nowrap);
        cursor: pointer;
        &:not(last-of-type) {
            margin-right: 100px;
        }

        &--flame {
            background-color: $flame;
        }

        &--white {
            background-color: $white;
        }
    }

    &__icon {
        @include size(30px, 30px);
        cursor: pointer;

        &--telegram {
            position: relative;
            left: -2px;
        }
    }
}