<section class="about">
    <div class="about__inner container">
        <article class="about__text" data-aos="fade-down-right">
            <h2 class="about__title title">ПРО НАС</h2>
            <h3 class="about__subtitle subtitle">
                Тому мудрець дотримується в цьому випадку наступного принципу вибору – або,
                відмовляючись від задоволення, він отримує якісь інші і навіть великі насолоди, або, зазнаючи
                страждання,
                він позбавляється від більш жорстоких.
            </h3>
        </article>
        <div class="about__block-img" data-aos="fade-down-left">
            <img src="./assets/images/about.png" alt="" class="about__img">
        </div>
    </div>
</section>