<section class="gallery">
  <div class="gallery__inner container">
    <article class="gallery__title title" data-aos="fade-down-right">Галерея</article>
    <ul class="gallery__items" data-aos="fade-right">
      <li class="gallery__item gallery__images"><img src="./assets/images/g_1.png" alt="" class="gallery__img"></li>
      <li class="gallery__item gallery__images"><img src="./assets/images/g_2.png" alt="" class="gallery__img"></li>
      <li class="gallery__item gallery__images"><img src="./assets/images/g_3.png" alt="" class="gallery__img"></li>
      <li class="gallery__item gallery__images"><img src="./assets/images/g_4.png" alt="" class="gallery__img"></li>
      <li class="gallery__item gallery__images"><img src="./assets/images/g_5.png" alt="" class="gallery__img"></li>
      <li class="gallery__item gallery__images"><img src="./assets/images/g_6.png" alt="" class="gallery__img"></li>
    </ul>
    <div class="gallery__button" data-aos="fade-down-right">
      <a href="" class="button">
        <span class="button__text">Дивитись все</span>
      </a>
    </div>
  </div>
</section>