<header class="header" id="header">
  <div class="container header__inner">
    <div class="header__logo" data-aos="fade-down-right">
      <a href="index.html" class="header__logo__a">
        <img src="./assets/images/LogoFreeBG.png" alt="" class="header__logo-img" />
      </a>
    </div>
    <nav class="header__menu" data-aos="fade-down">
      <ul class="header__items">
        <li class="header__item header__item-menu">
          <a href="#" class="header__item-a">Про нас</a>
        </li>
        <li class="header__item header__item-menu">
          <a href="#" class="header__item-a">Збери сам</a>
        </li>
        <li class="header__item header__item-menu">
          <a href="#" class="header__item-a">Галерея</a>
        </li>
        <li class="header__item header__item-menu">
          <a href="#" class="header__item-a">Доставка</a>
        </li>
        <li class="header__item header__item-menu">
          <a href="#" class="header__item-a">Оплата</a>
        </li>
      </ul>
    </nav>
    <div class="tpl-hamburger" id="sandwichmenu" data-aos="fade-down">
      <svg viewBox="0 0 800 600">
        <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
          class="tpl-hamburger__top"></path>
        <path d="M300,320 L540,320" class="tpl-hamburger__middle"></path>
        <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
          class="tpl-hamburger__bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
      </svg>
    </div>
    <nav class="menu__box">
      <ul class="menu__items">
        <li class="header__item header__item-burger"><a class="header__item-a" href="#">Про нас</a></li>
        <li class="header__item header__item-burger"><a class="header__item-a" href="#">Збери сам</a></li>
        <li class="header__item header__item-burger"><a class="header__item-a" href="#">Галерея</a></li>
        <li class="header__item header__item-burger"><a class="header__item-a" href="#">Доставка</a></li>
        <li class="header__item header__item-burger"><a class="header__item-a" href="#">Оплата</a></li>
        <div class="header__tel header__tel-burger" data-aos="fade-down-left">
          <img src="./assets/svg/tel.svg" alt="" />
          <a class="header__tel-a tel__a" href="tel:+38 097 979 79 79">+38 097 979 79 79</a>
        </div>
      </ul>
    </nav>
    <div class="header__tel header__tel--display tel" data-aos="fade-down-left">
      <img src="./assets/svg/tel.svg" alt="" />
      <a class="header__tel-a tel__a" href="tel:+38 097 979 79 79">+38 097 979 79 79</a>
    </div>
  </div>
</header>