<section class="offer">
    <div class="offer__mask mask"></div>
    <div class="offer__inner container" data-aos="zoom-out-down">
        <article class="offer__banner">
            <h2 class="offer__title">Lednetic</h2>
            <div class="offer__subtitle">
                <h3 class="offer__subtitle-text">студія освітлення</h3>
            </div>
        </article>
        <div class="offer__social social">
            <ul class="social__items">
                <li class="social__round  social__round--flame">
                    <object type="image/svg+xml" data="./assets/svg/telegram.svg"
                        class="social__icon social__icon--hover-flame social__icon--telegram"></object>
                </li>
                <li class="social__round social__round--white">
                    <object type="image/svg+xml" data="./assets/svg/instagram.svg"
                        class="social__icon social__icon--hover-white social__icon--instagram"></object>
                </li>
                <li class="social__round  social__round--flame">
                    <object type="image/svg+xml" data="./assets/svg/viber.svg"
                        class="social__icon social__icon--hover-flame social__icon--viber"></object>
                </li>
            </ul>
        </div>
    </div>
</section>