//color
$floral-white: #fffcf2ff;
$black-olive: #403d39ff;
$eerie-black: #252422ff;
$flame: #eb5e28ff;
$white: white;
$black: black;
//font
$f-montserrat: 'Montserrat', sans-serif;
//font-size
$base-font-size: 16px;
@function calcRem($size) {
  $remSize: $size / $base-font-size;
  @return #{$remSize}rem;
}

$h170: calcRem(170px);
$h60: calcRem(60px);
$h50: calcRem(50px);
$h24: calcRem(24px);
$h18: calcRem(18px);
// $h: calcRem(px);
